<!DOCTYPE html>
<html lang="es">
<head>
    <!--Max 50 / 55 caracteres-->
    <title>Restaurantes a2m Sevilla la Nueva</title>
    <meta charset="utf-8" />
    <meta content="David Ramirez y Fernando Beltran" name="author" />
    <!--Max 150 / 160 caracteres-->
    <meta content="" name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <!--Cuantas menos y más directas mejor-->
    <meta content="" name="keywords" />
    <!-- Bootstrap -->
    <link href="../Content/external/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/a2m/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../Content/a2m/css/generic.css" />
    <link rel="stylesheet" href="../Content/a2m/css/list.css" />
    <link rel="shortcut icon" href="../Content/a2m/img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Fuente Oxygen | Normal 400 | Bold 700 -->
    <link href='http://fonts.googleapis.com/css?family=Oxygen:700,400' rel='stylesheet' type='text/css'>
    <!-- Jquery, Bootstrap y js propios-->
    <script src="../Content/external/js/jquery-1.10.2.min.js"></script>
    <script src="../Content/external/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="../Content/a2m/js/events.js"></script>
    @Styles.Render("~/css/common")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/a2m")
    
    @{
        if (ViewBag.Section != null) { 
        var section = (a2m.Common.Enums.Sections)ViewBag.Section;
        switch (section)
        { 
            case a2m.Common.Enums.Sections.List:            
                Styles.Render("~/css/list"); 
                break;
            case a2m.Common.Enums.Sections.Product:
                Styles.Render("~/css/product"); 
                break;
            case a2m.Common.Enums.Sections.Basket:
                Styles.Render("~/css/basket"); 
                break;
        }
    }}

</head>
<body>
    <div class="container-generic">
        <!--Cabecera genérica-->
        <header class="layout-header container col-xs-12">
            <div class="col-xs-2 brand">
                <a href="/">
                    <img src="../Content/a2m/img/logo-a2m.png" alt="Logotipo a2m" title="a2minutos, la confianza más cercana" />
                </a>
            </div>
            <div class="col-xs-10 content-nav">
                <!--Menu general-->
                <nav class="menu col-xs-5">
                    <ul>
                        <li>@Html.RouteLink("Nosotros", "Inicio - Acerca de")</li>                        
                        <li>@Html.RouteLink("Añadir comercio", "Añadir comercio")</li>
                        <li>@Html.RouteLink("Contacto", "Inicio - Contacto")</li>
                        <li>@Html.RouteLink("Ayuda", "Inicio - Ayuda")</li>
                    </ul>
                </nav>
                <!--Acceso-->
                <div class="acces-link col-xs-7">
                    <!--Icon menú desplegable-->
                    <div class="content-link-login" id="link-down-menu">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="content-link-login" id="link-down-buy">
                        <i class="fa fa-user"></i>
                        <span>Tus pedidos</span>
                    </div>
                    <div class="content-link-login" id="link-down-bussines">
                        <i class="fa fa-cog"></i>
                        <span>Comercios</span>
                    </div>
                </div>
            </div>
            <!--Formulario acceso zona a2m pedidos-->
            <form class="login-acces" id="form-acces-user">
                <div class="col-xs-12 header-form">
                    <span><i class="fa fa-user"></i>Acceso mis pedidos</span>
                    <i class="close-x">X</i>
                </div>
                <input type="text" placeholder="Introduce usuario" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Introduce usuario' ">
                <input type="text" placeholder="Introduce contraseña" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Introduce contraseña' ">
                <div class="checkbox-remember-pass">
                    <label>
                        <input type="checkbox" checked="checked">
                        Recordarme
                    </label>
                </div>
                <span class="link-remeber link">¿Has olvidado la contraseña?</span>
                <button type="button" class="btn-generic">Entrar</button>
            </form>
            <!--Formulario acceso zona a2m comercios-->
            <form class="login-acces" id="form-acces-bussines">
                <div class="col-xs-12 header-form">
                    <span><i class="fa fa-cog"></i>Acceso comercios</span>
                    <i class="close-x">X</i>
                </div>
                <input type="text" placeholder="Usuario" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Usuario' ">
                <input type="text" placeholder="Contraseña" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Contraseña' ">
                <div class="checkbox-remember-pass">
                    <label>
                        <input type="checkbox" checked="checked">
                        Recordarme
                    </label>
                </div>
                <span class="link-remeber link">¿Has olvidado la contraseña?</span>
                <button type="button" class="btn-generic">Entrar</button>
            </form>
        </header>
        <!--Migas de pan-->
        <nav class="breadcumbs col-xs-12">
            <div class="col-xs-8">
                <span>Estan en:</span>
                <ul>
                    <li><a href="#" class="link">a2m</a></li>
                    <li>></li>
                    <li><a href="#">Locales Sevilla la Nueva</a></li>
                    <li>></li>
                    <li><a href="#" class="link activation-link">El Portillo</a></li>
                </ul>
            </div>
            <div class="col-xs-4 msj-welcome">
                <span><i class="fa fa-hand-paper-o"></i>Hola Fernando Beltrán</span>
                <span class="link">Cerrar sesión</span>
            </div>
        </nav>
        @RenderBody()

        <footer class="col-xs-12 footer-generic">
            <strong class="col-xs-12">Contacta con nosotros</strong>
            <i class="col-xs-12">Puedes contactar para cualquier duda o consulta rellenando el siguiente formulario</i>
            <form class="form-contact">
                <label class="col-sm-4 col-xs-12">
                    <input type="text" placeholder="Nombre" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Nombre' ">
                </label>
                <label class="col-sm-4 col-xs-12">
                    <input type="text" placeholder="E-mail" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'E-mail' ">
                </label>
                <label class="col-sm-4 col-xs-12">
                    <input type="text" placeholder="Teléfono" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Teléfono' ">
                </label>
                <label class="col-xs-12">
                    <textarea rows="30" cols="5" placeholder="Tu mensaje" onfocus=" this.placeholder = '' " onblur=" this.placeholder = 'Tu mensaje' "></textarea>
                </label>
                <label class="col-xs-12">
                    <button type="button" class="btn-generic btn-form-contact">Enviar</button>
                </label>
            </form>
        </footer>
    </div>
    <!--Cargando resultados-->
    <div class="col-xs-12 content-load-result hide" id="loader">
        <div class="loader"></div>
    </div>

</body>
</html>



<!--
Html.RouteLink("Quienes somos", "Inicio - Acerca de")
Html.RouteLink("Contacto", "Inicio - Contacto")-->


  