@using a2m.Models
@using a2mbl
@using CustomExtensions
@model MunicipalityModel
@{
    ViewBag.Title = "Index";   
}

@{foreach (var iBusiness in Model.BusinessListByPage)
{
         <!--Box resultado-->
            <div class="col-sm-6 col-md-4 col-lg-3 content-result col-centered">
                <div class="item-result">
                    <div class="content-img">
                        <a href="~/@(ViewBag.MunicipalityByNormalizedName)/@iBusiness.Name.ToA2MUrlName()" class="col-xs-12 link-img-list" title="Ves a la ficha de @iBusiness.Name">
                            <img class="img-responsive" src="~/media/@(ViewBag.MunicipalityByNormalizedName)/@(iBusiness.Pk_Business).jpg" onerror="this.onerror = null; this.src = '../Content/a2m/img/no-image.jpg';" alt="@iBusiness.Name" title="@iBusiness.Name" />
                        </a>
                    </div>
                    <div class="col-xs-12 content-detail">
                        <a href="~/@(ViewBag.MunicipalityByNormalizedName)/@iBusiness.Name.ToA2MUrlName()" class="col-xs-12 link-tit-list" title="Ves a la ficha de @iBusiness.Name">
                            <strong>@iBusiness.Name</strong>
                        </a>
                        <i>Comida casera y de calidad</i>
                        <b>@iBusiness.Phone</b>
                        <span>Precio mín pedido: @iBusiness.Min_Price_For_Shipping</span>
                        <span>Pedidos a partir de las 20:00h</span>
                    </div>
                    <ul class="icons-services">
                        <li class="@(iBusiness.Is_A2M==true ? "" : "disable")">
                            <img src="~/Content/a2m/img/icon-pedido-online.svg" alt="icono pedido online" title="Pedido online" />
                            <span>Pedido online</span>
                        </li>
                        <li class="@(iBusiness.Allow_Shipping==true ? "" : "disable")">
                            <img src="~/Content/a2m/img/icon-a-domicilio.svg" alt="icono pedido a domicilio" title="Pedido a domicilio" />
                            <span>A domicilio</span>
                        </li>
                        <li class="@(iBusiness.Allow_PickUp==true ? "" : "disable")">
                            <img src="~/Content/a2m/img/icon-recoger-local.svg" alt="icono recoger en local" title="Recoger en local" />
                            <span>Recoger en local</span>
                        </li>
                        <!--<li class="disabled">
                            <img src="../Content/a2m/img/icon-reservas.svg" alt="icono reservas" title="Filtrar local con reservas" />
                            <span>Reservas</span>
                        </li>-->
                        <li class="@(iBusiness.Has_Pdf==true ? "" : "disable")">
                            <img src="../Content/a2m/img/icon-carta-pdf.svg" alt="icono carta pdf" title="Carta PDF" />
                            <span>Carta PDF</span>
                        </li>
                        <li class="disabled">
                            <img src="../Content/a2m/img/icon-menu.svg" alt="icono con menú" title="Disponible menú" />
                            <span>Con menú</span>
                        </li>
                    </ul>
                    <div class="btn-cta">
                        <a href="~/@(ViewBag.MunicipalityByNormalizedName)/@iBusiness.Name.ToA2MUrlName()" class="col-xs-12" title="Ves a la ficha de...">Hacer pedido @iBusiness.Name</a>
                    </div>
                </div>
            </div>
            <!--Box resultado-->

}}

 
   
          
      